body{
	background: #CDCDC1;
}
#sdu{
	position: absolute;
	width: 484px;
	height: 323px;
	top: 40%;
	left: 50%;
	margin-top: -161.5px;
	margin-left: -242px;
}
table{
	border-collapse: collapse;
}

table,th,tr,td{
	border: 1px solid #333;
	text-align: center;
	padding: 10px;
}
td{
	width: 48px;
	height: 16px;
}
table caption{
	margin-bottom: 10px;
}
