* {
    padding: 0;
    margin: 0;
}

/*容器*/
.container {
    width: 400px;
    height: 320px;
    margin: 50px auto;
    line-height: 40px;
    color: #333;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*计算器表格*/
.container table {
    width: 400px;
    height: 320px;
    border-collapse: collapse;
    text-align: center;
}
/*显示屏*/
.container table thead tr th {
    width: 400px;
    height: 75px;
    font-size: 48px;
    font-weight: bold;
    text-align: right;
    border: 1px solid #666;
    background: #ccc;
    color: #fff;
}
/*按钮*/
.container table tbody tr td {
    font-size: 22px;
    font-weight: bold;
    width: 100px;
    border: 1px solid #666;
    background-color: #f8f8f8;
    background: #f8f8f8\0;
    cursor: pointer;
}
/*每行最后一个按钮*/
.sign {
    background: #FF9900!important;
    background: #FF9900!important\0;
}
/*鼠标悬浮样式*/
.container table tbody tr td:hover {
    background: #ccc;
}
.sign:hover{
    background: #F50!important;
    background: #F50!important\0;

}
