body {
    background: #f5f5f5;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
}

a,
dd,
div,
dl,
i,
img,
input,
li,
p,
span,
ul {
    box-sizing: border-box;
}


/*头部样式*/

#header .relative {
    position: relative;
}

#header .w-1000 {
    width: 1000px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
}

#header {
    padding: 0px;
    margin: 0px;
    height: 60px;
    border-bottom: 1px solid #ececec;
    background: #fff;
}


/*头部logo*/

#header .logo {
    display: inline-block;
    /*a元素是内联元素 嵌套img时会出现奇怪高度 故此设*/
    line-height: 0;
    /*使a与img同高*/
    vertical-align: middle;
    /*与nav在同一基线上*/
    margin-right: 60px;
}

#header .logo img {
    position: relative;
    top: 3px;
}


/*头部导航条*/

#header nav {
    display: inline-block;
    vertical-align: middle;
    /*与logo在同一基线上*/
}


/*头部导航*/

#header .header-nav li {
    float: left;
    margin-right: 50px;
}

.header-nav li:hover {
    color: rgb(53, 181, 88);
    cursor: pointer;
}

#header .header-nav li i {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 2px;
}

#header .arrow-icon {
    width: 8px;
    height: 8px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    vertical-align: middle;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
}

.arrow-open {
    border-top: 1px solid rgb(53, 181, 88)!important;
    border-left: 1px solid rgb(53, 181, 88)!important;
    -webkit-animation: rotate 1s ease both;
    cursor: pointer;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(45deg);
    }
    70% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(405deg);
    }
}


/*头部右侧雪碧图组*/

#header .icon-box {
    height: 60px;
    width: 200px;
    text-align: right;
    /*作用于span*/
    float: right;
    margin-right: 10px;
}

#header .icon-box span {
    height: 60px;
    width: 17px;
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
}


/*搜索框*/

#header .search-box {
    height: 59px;
    line-height: 59px;
    width: 850px;
    background: #fff;
    position: absolute;
    z-index: 11000;
    top: 0;
    right: 0;
    text-align: justify;
    -webkit-animation: fadeInRight 1s .2s ease both;
    -moz-animation: fadeInRight 1s .2s ease both;
    -webkit-transform-origin: right;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale(0)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}


/*搜索框的搜索图标*/

#header .search-icon2 {
    background: url(../img/search-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    height: 17px;
    width: 17px;
    display: inline-block;
    position: relative;
    top: 3px;
}


/*搜索框的关闭图标*/

#header .close-icon {
    width: 15px;
    height: 15px;
    margin-top: 22px;
    cursor: pointer;
    background: url(../img/close-icon.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    z-index: 1200;
}


/*搜索框尾部*/

#header #web_search_header {
    width: 400px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
    border: 0;
}


/*搜索栏*/

#header .tagbox {
    width: 300px;
    text-align: right;
    display: inline;
    margin-right: 50px;
    float: right;
}

.tagbox a {
    font-size: 12px;
    color: #808080;
    background: #f5f5f5;
    padding: 3px 5px;
    margin-left: 10px;
}

#header .app-icon {
    background: url(../img/app-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    /*或者center*/
}

#header .app-icon:hover {
    background: url(../img/app-icon2.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
}

#header .appicon-menu {
    width: 100px;
    height: 150px;
    position: relative;
    left: 90px;
    top: -26px;
    z-index: 9999;
    display: none;
}

#header .appicon-menu .top-icon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    display: block;
    position: absolute;
    top: -8px;
    right: 40px;
    width: 15px;
    height: 15px;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    display: inline-block;
    background: #fff;
    display: none;
}

#header .search-icon {
    background: url(../img/search-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
}

#header .search-icon:hover {
    background: url(../img/search-icon2.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
}

#header .login-icon {
    background: url(../img/login-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
}


/*子菜单*/

#header .submenu {
    opacity: 1;
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 0;
    background: #fff;
    font-size: 12px;
    color: #666;
    width: 280px;
}


/*子菜单标签*/

#header .submenu h3 {
    font-size: 12px;
    margin: 10px 0;
    padding: 0 15px;
    background: #fafafa;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
}

#header .submenu a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}


/*子菜单图标*/

#header .school-list i {
    margin-left: 5px;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background: url(../img/submenu-icon2.png) 0 0 no-repeat;
    background-size: 16px 128px;
    display: inline-block;
    margin-right: 10px!important;
    background-position: -2px -2px;
}

#header nav a {
    color: #333;
}


/*职业学院子菜单*/

#header .school-list {
    display: none;
    left: 250px;
}

#header .web-icon {
    background: url(../img/submenu-icon1.png) -15px -27px no-repeat!important;
    background-size: 64px 64px!important;
}

#header .python-icon {
    background-position: -2px -2px!important;
}

#header .go-icon {
    background-position: -2px -33px!important;
}

#header .ios-icon {
    background-position: -2px -70px!important;
}


/*会员课程子菜单*/

#header .jk-vip {
    display: none;
    left: 370px;
}

#header .vip-lesson a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #666;
}


/*会员课程图标*/

#header .vip-lesson i {
    margin-left: 5px;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background: url(../img/submenu-icon1.png) 0 0 no-repeat;
    background-size: 64px 64px;
    display: inline-block;
    margin-right: 10px!important;
    background-position: -2px -2px;
}

#header .vip-lesson a span {
    color: #bbb;
    float: right;
}

#header .kck-icon {
    background-position: 0 -13px!important;
}

#header .zyljt-icon {
    background-position: -45px 0px!important;
}

#header .zstxt-icon {
    background-position: -30px -13px!important;
    background-size: 12px 12px;
}

#header .kcbq-icon {
    background-position: -15px -13px!important;
}

#header .vip-icon {
    background-position: -16px 0!important;
}


/*极客社区子菜单*/

#header .jk-sq {
    display: none;
    left: 490px;
}

#header .submenu a:hover {
    color: rgb(53, 181, 88);
}

#header .jswd-icon {
    background-position: 0 -27px!important;
}

#header .wiki-icon {
    background-position: -29px -27px!important;
}

#header .sq-icon {
    background-position: 0 2px!important;
}

#header .zygx-icon {
    background-position: -30px 0!important;
}


/*左侧导航栏*/

.content-wrap {
    display: table;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px!important;
    clear: both;
}

#aside {
    width: 210px;
    float: left;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#aside .asidelist1 {
    border: 1px solid #35b558;
}


/*左侧-课程库*/

#aside .ashd {
    height: 45px;
    padding: 0 32px;
    border-bottom: 1px solid #eee;
    line-height: 45px;
    cursor: default;
}

#aside .ashd h2 {
    font-size: 14px;
}

#aside .ashd a {
    color: #35b558;
}


/*左侧列表*/

#aside .asbd ul {
    width: 208px;
    position: relative;
}


/*左侧列表下的div*/

#aside .asbd .bd-title {
    position: absolute;
    width: 208px;
    height: 37px;
    border-bottom: 1px solid #f5f5f5;
    background: url(../img/r-arrow.png) 186px center no-repeat;
    background-size: 6px 10px;
    padding-left: 32px;
    z-index: 3333;
}


/*列表悬停*/

#aside .asbd .bd-title:hover {
    border-left: 1px solid #ddd;
    height: 37px;
    width: 210px;
    margin-left: -1px;
    padding-left: 24px;
    box-shadow: 0 2px rgba(0, 0, 0, .1);
    border-bottom: 0;
}

#aside .asbd ul li {
    width: 208px;
    height: 37px;
}

#aside .asbd ul li:hover {
    font-size: 14px;
    color: #35b558;
}

#aside .asbd ul li > div >a {
    font-size: 12px;
    color: #666;
    line-height: 36px;
}


/*移动开发滑出栏*/

#aside .list-show {
    display: none;
    width: 402px;
    height: 417px;
    overflow: hidden;
    min-height: 417px;
    min-width: 401px;
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    left: 209px;
    top: -46px;
    z-index: 1101;
    list-style: none;
    margin-left: -1px;
    padding-bottom: 30px;
    float: left;
    color: #333;
}

#aside .list-show a:hover {
    color: #35b558;
}


/*右侧滑出栏无序列表*/

#aside .list-show dl {
    margin: 0 15px;
    overflow: hidden;
}


/*右侧滑出栏标题*/

#aside .list-show dl dt {
    display: block;
    border-bottom: 1px solid #f5f5f5;
    height: 37px;
    line-height: 45px;
}


/*右侧滑出栏链接*/

#aside .list-show dl dt a {
    color: #333;
    font-size: 13px;
    font-weight: 500;
}

#aside .list-show dd {
    list-style: none;
    margin-left: -7px;
    padding: 3px 0;
}

#aside .list-show dl dd a {
    height: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0 7px;
    color: #666;
    display: inline-block;
    font-size: 12px;
    border-left: 1px solid #e0e0e0;
    float: left;
    white-space: nowrap;
    font-weight: 400;
}

#aside .list-show dl dd a:first-child {
    border-left: 0;
}

#aside .list-show dl a {
    color: #35b558;
}


/*左侧第二个导航*/

.asidelist2 ul {
    width: 100%;
    background-color: #fff;
}

.asidelist2 ul li {
    height: 45px;
}

.asidelist2 ul li a {
    display: block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: #333;
    font-size: 14px;
    padding-left: 10px;
}

.asidelist2 a i {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    vertical-align: text-bottom;
}

.list2-icon1 {
    background: url(../img/list2-icon1.png) no-repeat left center;
    background-size: 15px 14px;
}

.list2-icon2 {
    background: url(../img/list2-icon2.png) no-repeat left center;
    background-size: 15px 12.5px;
}

.list2-icon3 {
    background: url(../img/list2-icon3.png) no-repeat left center;
    background-size: 14px 14px;
}

.list2-icon4 {
    background: url(../img/list2-icon4.png) no-repeat left center;
    background-size: 15px 13px;
}

.asidelist2 a:hover {
    color: #35b558;
    background: #fafafa url(../img/checkAll.png) no-repeat 160px center;
    background-size: 40px 10px;
}


/*右侧部分*/

.r-side {
    color: #666;
    font-size: 12px;
    line-height: 1.5;
    width: 776px;
    float: right;
}

.r-side .sort {
    position: relative;
    z-index: 500;
}

.sort .wrap {
    box-sizing: content-box;
    height: 38px;
    background: #fff;
    color: gray;
    line-height: 38px;
}

.wrap .sortMode {
    overflow: visible;
    float: left;
    height: 38px;
}


/*全部课程*/

.sort .sortMode h3 {
    float: left;
    padding: 0 21px;
    background: #fff;
    border-right: 1px solid #f5f5f5;
    font-size: 12px;
    font-weight: 400;
    cursor: default;
}


/*最新*/

.sort .sortMode dl {
    position: relative;
    z-index: 10;
    /*overflow: hidden;*/
    float: left;
    height: 36px;
    margin: 0 1px 0 -1px;
    white-space: nowrap;
}

.sort .sortMode dt {
    padding: 0 18px;
    cursor: default;
    -webkit-transition: all .1s ease .1s;
    -moz-transition: all .1s ease .1s;
    -ms-transition: all .1s ease .1s;
    transition: all .1s ease .1s;
}


/*右侧横向导航箭头*/

.sort .sortMode dt>.arrow {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    width: 8px;
    height: 8px;
    border: 1px solid #c1c1c1;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    vertical-align: middle;
}

.sort .sortMode dd {
    position: relative;
    z-index: 12;
    display: none;
    -webkit-transition: all .1s ease .1s;
    -moz-transition: all .1s ease .1s;
    -ms-transition: all .1s ease .1s;
    transition: all .1s ease .1s;
    background: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
}

.sort .sortMode dd a {
    display: block;
    padding: 0 32px 0 17px;
    font-weight: 500;
    color: gray;
    width: 96px;
}

.sort .sortMode dl:nth-child(2),
dl:nth-child(2) dd {
    width: 73px;
}

.sort .sortMode dd a:hover {
    color: #35b558;
}


/*右侧横向导航*/

.sortMode ul {
    position: absolute;
    right: 0;
    text-align: center;
}

.sortMode ul li {
    position: relative;
    float: left;
    width: 36px;
    height: 38px;
    border-left: 1px solid #f5f5f5;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

.sortMode ul .list-icon {
    background: url(../img/list-icon.png) no-repeat center;
    background-size: 14px;
}

.sortMode ul .list-icon2 {
    background: url(../img/list-icon2.png) no-repeat center;
    background-size: 16px 12px;
}


/*课程显示*/

.lesson-list ul {
    width: auto;
    height: auto;
    font-size: 0;
}

.lesson-list2 ul {
    display: block;
}

.lesson-list ul li {
    margin-top: 15px;
    margin-right: 13px;
    width: 250px;
    height: 264px;
    display: inline-block;
    vertical-align: top;
}

.lesson-list2 ul li {
    width: 100%;
    height: 100px;
    padding: 0;
    background-color: #fff;
    margin-top: 13px;
}

.lesson-list ul li:nth-child(3n) {
    margin-right: 0!important;
}

.lesson-list .lesson-box {
    width: 100%;
    height: 135px;
    position: relative;
}

.lesson-list2 .lesson-box {
    width: 185px;
    height: 100px;
    float: left;
    margin-right: 15px;
    position: relative;
}

.lesson-list .lesson-box img {
    width: 100%;
    height: 135px;
}

.lesson-list2 .lesson-box img {
    width: 185px;
    height: 100px;
    float: left;
    margin-right: 15px;
    position: relative;
}


/*收藏*/

.lesson-box .shoucang {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 16px;
    height: 16px;
    background: url(../img/lesson-love.png);
    background-size: 16px 16px;
    z-index: 101;
    cursor: pointer;
}


/*播放*/

.lesson-box .lesson-shadow {
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
}

.lesson-list li:hover .lesson-shadow {
    display: block;
}

.lesson-list li:hover .shoucang {
    display: block;
}

.lesson-box .lesson-player {
    position: absolute;
    z-index: 120;
    width: 50px;
    height: 50px;
    display: block;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    background: url(../img/lesson-player.png) 0 0 no-repeat;
    cursor: pointer;
    background-size: 50px 50px;
}

.lesson-list,
.lesson-info,
.time {
    font-size: 12px;
    color: gray;
    position: relative;
}

.lesson-list .lesson-info {
    padding: 10px;
    position: relative;
    height: 105px;
    overflow: hidden;
    background: #fff;
    height: auto;
    z-index: 300;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.lesson-list li:hover {
    height: 153px;
}

.lesson-list p.lesson-content {
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.lesson-list li:hover p.lesson-content {
    height: 40px;
    opacity: 1;
}

.lesson-list2 .lesson-info {
    position: relative;
    width: 566px;
    float: left;
    height: 100%;
}


/*课程标题*/

.lesson-list .lesson-info h5 {
    font-size: 14px;
    color: #333;
    line-height: 18px;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}

.lesson-list2 .lesson-info h5 {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.lesson-info i {
    width: 14px;
    height: 14px;
    margin-right: 8px;
}


/*时间雪碧图*/

.lesson-time {
    display: inline-block;
    background: url(../img/lesson-time.png) no-repeat;
    background-size: 14px 14px;
}


/*高级雪碧图*/

.lesson-high {
    display: inline-block;
    background: url(../img/lesson-high.png) no-repeat;
    background-size: 14px 14px;
}


/*云雪碧图*/

.lesson-cloud {
    width: 100%!important;
    display: inline-block;
    background: url(../img/lesson-cloud.png) no-repeat right bottom;
    background-size: 16px 16px!important;
}


/*学习时间和人数*/

.lesson-list .time {
    margin-top: 30px;
}

.lesson-list .time dd {
    margin-top: 5px;
}

.lesson-list .time .cf1 {
    float: left;
}

.lesson-list .cf1 dd {
    height: 0;
    overflow: hidden;
}

.lesson-list li:hover .cf1 dd {
    height: 24px;
}

.lesson-list .time .cf2 {
    float: right;
}

.lesson-list .cf2 dd {
    height: 0;
    overflow: hidden;
}

.lesson-list li:hover .cf2 dd {
    height: 24px;
}

.lesson-list2 .time {
    margin-top: 25px;
}

.lesson-list2 .cf1 dt,
dd {
    display: inline-block;
}

.lesson-list2 .cf2 {
    position: relative;
    top: -18px;
}

.lesson-list2 .cf2 dt {
    display: inline-block;
    float: right;
}

.lesson-list2 .cf2 dd i {
    display: none;
}

.lesson-list2 li:hover .lesson-shadow {
    display: block;
}

.lesson-list2 li:hover .shoucang {
    display: block;
}


/*收藏默认不显示*/

.shoucang {
    display: none;
}


/*播放按钮默认不显示*/

.lesson-shadow {
    display: none;
}


/*分页*/

#page-nav {
    text-align: center;
    margin-top: 17px;
    height: 80px;
}

ul.pages {
    display: block;
    border: 0;
    /*text-transform: uppercase;*/
    font-size: 12px;
    margin: 10px 10px 45px;
    padding: 0;
}

ul.pages li.pgNext {
    width: 50px;
}

ul.pages li.pgEmpty {
    border: 1px solid #f0f0f0;
    color: #d9d6c3;
    width: 50px;
    cursor: default;
}

ul.pages li.pgCurrent {
    background: #35b558;
    color: #fff;
    border: 1px solid #35B558;
}


/*每个页项*/

ul.pages li {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 0;
    line-height: 30px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 12px;
    background: #fff;
    color: gray;
    border: 1px solid #e4e4e4;
}


/*省略号*/

ul.pages li.thpoint {
    border: 0;
    cursor: auto;
    color: #000;
    background: none!important;
    margin-top: 3px;
}


/*总页数*/

ul.pages li.pagetotal {
    width: 70px;
}


/*当前页*/

ul.pages li.pagenow {
    width: 100px;
    margin-left: 0;
}


/*确定*/

ul.pages li.go {
    width: 32px;
    height: 22px;
    line-height: 22px;
    margin-top: 6px;
}

ul.pages li:nth-child(2) {
    width: 72px;
}

#page-nav .pages li:hover {
    border: 1px solid #35B558;
    color: #35B558;
}


/*footer*/

#footer {
    min-width: 1000px;
    border-top: 1px solid #e4e4e4;
    background: #fff;
}

#footer .mar-t50 {
    margin-top: 50px!important;
}

#footer.jkinfor-block {
    background: #fff;
}

#footer .jkinfor-block .jkinfor {
    position: relative;
    width: 1000px;
    height: 215px;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 224px;
    padding-top: 25px;
    box-sizing: border-box;
}

#footer .jkinfor-block .jkinfor .jk-logo {
    position: absolute;
    left: 0;
    top: 25px;
    display: inline-block;
    width: 160px;
}

#footer .jkinfor-block .jkinfor .jk-logo img {
    width: 109px;
    height: 40px;
    display: block;
}

#footer .jkinfor-block .jkinfor .jk-logo p {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

#footer .jkinfor dl {
    width: 135px;
    color: #808080;
    float: left;
}

#footer .jkinfor dl dt {
    font-size: 14px;
    line-height: 30px;
}

#footer .jkinfor dl dd {
    font-size: 12px;
    line-height: 30px;
}

#footer .jkinfor dl dd a {
    color: #999999;
}

#footer .jk-down {
    position: absolute;
    right: 0;
    top: 25px;
    display: inline-block;
    width: 175px;
    text-align: left;
}

#footer .jk-down .hot-tel {
    color: #808080;
    font-size: 14px;
    margin-bottom: 20px;
}

#footer .jk-down .down-ios {
    background: url(../img/footer-ios-icon.png)no-repeat 0 0;
    background-size: 30px 30px;
}

#footer .jk-down .down-and {
    background: url(../img/footer-android-icon.png)no-repeat 0 0;
    background-size: 30px 30px;
}

#footer .jk-down .downCon {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 30px;
    color: #808080;
    font-size: 13px;
    padding-left: 40px;
    cursor: pointer;
}

#footer .copyright {
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding: 15px 0;
}

#footer .copyright a.down-wechat {
    float: right;
    height: 15px;
    width: 20px;
    background: url(../img/footer-wechat-icon.png)no-repeat 0 0;
    background-size: 18px 15px;
}

#footer .copyright a.down-sina {
    float: right;
    height: 15px;
    width: 20px;
    margin-right: 10px;
    background: url(../img/footer-sina-icon.png)no-repeat 0 0;
    background-size: 20px 15px;
}

.gotop {
    position: fixed;
    left: 50%;
    margin-left: 510px;
    bottom: 50px;
    width: 34px;
    text-align: center;
    z-index: 2000;
}

.gotop #top {
    display: inline-block;
    width: 34px;
    height: 34px;
    background: url(../img/goto-top.jpg) 0 0 no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 34px;
    transition: background .5s;
    -webkit-transition: background .5s;
}

.fadeIn {
    display: block!important;
    -webkit-animation: fadeIn 1s .2s ease both;
    -moz-animation: fadeIn 1s .2s ease both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}


}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }
    
    100% {
        opacity: 1;
    }
}
.fadeOut {
    display: block!important;
    -webkit-animation: fadeOut 1s .2s ease both;
    -moz-animation: fadeOut 1s .2s ease both;
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    
    100% {
        opacity: 0;
    }
}

}
@-moz-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.gotop #top:hover {
    background: url(../img/goto-top2.jpg) 0 0 no-repeat;
    background-size: 34px 103px;
    opacity: 1;
}
.gotop span.erwma {
    position: relative;
    display: block;
    background: url(../img/goto-top.jpg) 0 -34px no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 35px;
}
.gotop span.jk-app {
    position: relative;
    display: block;
    background: #f7f7f7 url(../img/goto-phone.png) center center no-repeat;
    background-size: 12px 24px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
}
