* {
    margin: 0;
    padding: 0
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -153px;
    margin-top: -153px;
    width: 306px;
    height: 306px;
    transform-style: preserve-3d;
    animation: rotate 5s linear infinite;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rotate 5s linear infinite;
    -moz-transform-style: preserve-3d;
    -moz-animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(45deg) rotateY(45deg) rotateY(45deg);
    }
    40% {
        transform: rotateX(120deg) rotateY(120deg) rotateY(120deg);
    }
    60% {
        transform: rotateX(180deg) rotateY(90deg) rotateY(60deg);
    }
    80% {
        transform: rotateX(360deg) rotateY(270deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) rotateY(0deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: rotateX(45deg) rotateY(45deg) rotateY(45deg);
    }
    40% {
        -webkit-transform: rotateX(120deg) rotateY(120deg) rotateY(120deg);
    }
    60% {
        -webkit-transform: rotateX(180deg) rotateY(90deg) rotateY(60deg);
    }
    80% {
        -webkit-transform: rotateX(360deg) rotateY(270deg) rotateY(180deg);
    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateY(0deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateY(0deg);
    }
    50% {
        -moz-transform: rotateX(45deg) rotateY(45deg) rotateY(45deg);
    }
    40% {
        -moz-transform: rotateX(120deg) rotateY(120deg) rotateY(120deg);
    }
    60% {
        -moz-transform: rotateX(180deg) rotateY(90deg) rotateY(60deg);
    }
    80% {
        -moz-transform: rotateX(360deg) rotateY(270deg) rotateY(180deg);
    }
    100% {
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateY(0deg);
    }
}

.container >div {
    position: absolute;
    width: 306px;
    height: 306px;
}

.container>div>div {
    width: 100px;
    height: 100px;
    border: #fff 1px solid;
    float: left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.red {
    transform: translate3d(0, 0, 153px);
    -webkit-transform: translate3d(0, 0, 153px);
    -moz-transform: translate3d(0, 0, 153px);
}

.red div {
    background: #FF0033;
}

.blue {
    transform: translate3d(0, 0, -153px);
    -webkit-transform: translate3d(0, 0, -153px);
    -moz-transform: translate3d(0, 0, -153px);
}

.blue div {
    background: #006699;
}

.cyan {
    transform: translate3d(0, 153px, 0) rotateX(90deg);
    -webkit-transform: translate3d(0, 153px, 0) rotateX(90deg);
    -moz-transform: translate3d(0, 153px, 0) rotateX(90deg);
}

.cyan div {
    background: #99CC99;
}

.green {
    transform: translate3d(0, -153px, 0) rotateX(-90deg);
    -webkit-transform: translate3d(0, -153px, 0) rotateX(-90deg);
    -moz-transform: translate3d(0, -153px, 0) rotateX(-90deg);
}

.green div {
    background: #339933;
}

.orange {
    transform: translate3d(153px, 0, 0) rotateY(90deg);
    -webkit-transform: translate3d(153px, 0, 0) rotateY(90deg);
    -moz-transform: translate3d(153px, 0, 0) rotateY(90deg);
}

.orange div {
    background: #FF6600;
}

.pink {
    transform: translate3d(-153px, 0, 0) rotateY(-90deg);
    -webkit-transform: translate3d(-153px, 0, 0) rotateY(-90deg);
    -moz-transform: translate3d(-153px, 0, 0) rotateY(-90deg);
}

.pink div {
    background: #CC99CC;
}
