*{
	margin: 0;
	padding: 0;
}
/*以下是普通盒子的样式*/
.shoes{
	width: 100px;
	height: 100px;
	background-color: orange;
}
.box{
	margin: 50px 0 50px 100px;
	padding: 10px;
	width: 100px;
	height: 100px;
	background-color: aqua;
	border: 5px solid red;
	display: inline-block;
}

/*以下是怪异盒子的样式*/
.shoes1{
	width: 100px;
	height: 100px;
	background-color: orange;
}
.box1{
	margin: 50px 0 50px 100px;		
	padding: 10px;
	width: 130px;
	height: 130px;
	background-color: aqua;
	border: 5px solid red;
	box-sizing: border-box;
	display: inline-block;
}

/*以下是弹性盒子水平分栏样式*/
.horizontal{
	width: 400px;
	height: 200px;
	margin: 10px 0 10px 100px;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
}
.horizontal div:nth-child(1){
	background-color: #99CCFF;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
.horizontal div:nth-child(2){
	background-color: #FFCC33;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
.horizontal div:nth-child(3){
	background-color: #FF6666;
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
}

/*以下是弹性盒子垂直分栏样式*/
.vertical{
	width: 400px;
	height: 200px;
	margin: 10px 0 10px 100px;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
}
.vertical div:nth-child(1){
	background-color: #99CCFF;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
.vertical div:nth-child(2){
	background-color: #FFCC33;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
.vertical div:nth-child(3){
	background-color: #FF6666;
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
}

/*以下是排序和column分栏*/
.column{
	width: 400px;
	height: 200px;
	margin: 10px 0 10px 100px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;

}
.column div:nth-child(1){
	background-color: #99CCFF;
	flex: 1;
	-webkit-flex: 1;
	order: 3;
	-webkit-order: 3;
}
.column div:nth-child(2){
	background-color: #FFCC33;
	flex: 1;
	-webkit-flex: 1;
	order: 2;
	-webkit-order: 2;
}
.column div:nth-child(3){
	background-color: #FF6666;
	flex: 1;
	-webkit-flex: 1;
	order: 1;
	-webkit-order: 1;}

/*旧版盒子的居中布局*/
.oldBox{
	width: 200px;
	height: 200px;
	margin: 50px 0 50px 100px;
	background-color: #FFCC33;	
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
}
.oldBox div{
	width: 100px;
	height: 100px;
	background-color: #CC99CC;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/*display: -moz-box;*/
	-moz-box-pack: center;
	-moz-box-align: center;
}
