#container{
	width: 310px;
	height: 310px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -155px;
	margin-top: -155px;
}
#container div{
	width: 100px;
	height: 100px;
	box-shadow: 5px 5px 5px #ccc;
}
#myImg{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	display: -webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}
#cTop{
	background-color: #006699;
	margin: 0 auto;
}
#cLeft{
	background-color: #663366;
	float: left;
}
#cRight{
	background-color: #339933;
	float: right;
}
#cBottom{
	background-color: #CC3333;
	position: absolute;		
	bottom: 0;
	left: 50%;
	margin-left: -50px; 
}