$w:800px !default;
$h:400px !default;
$color1:#841919 !default;
$color2:#3A6150 !default;
.container {
    width: $w;
    height: $h;
    border: 1px solid #333;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -($w/2);
    margin-top: -($h/2);
    font-size: 0;
    header {
        .left {
            width: ($w*0.4);
            height: ($h/2*0.9);
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            padding: 20px 10px 0 0;
            span {
                display: block;
                width: 100%;
                height: ($h/2*0.6);
                line-height: ($h/2*0.6);
                font-size: ($h/2*0.6);
                background: $color1;
                text-align: -webkit-center;
                color: #fff;
            }
            p {
                font-size: 18px;
                text-align: -webkit-center;
            }
        }
        .right {
            width: ($w*0.6);
            height: ($h/2*0.9);
            box-sizing: border-box;
            display: inline-block;
            font-size: 12px;
            vertical-align: middle;
            text-align: center;
            p {
                @at-root {
                    .right--zh {
                        font-size: 38px;
                        color: $color2;
                        font-weight: bold;
                    }
                    .right--en {
                        font-size: 21px;
                        color: $color2;
                    }
                    .right--cur {
                        font-size: 35px;
                        color: $color1;
                        letter-spacing: 15px;
                    }
                }
            }
        }
    }
    nav {
        $height: ($h/2*0.9);
        width: 100%;
        height: $height;
        border: 1px solid;
        background: $color2;
        color: #fff;
        font-weight: bold;
        box-sizing: border-box;
        ul {
            width: 100%;
            height: $height;
            font-size: 22px;
            display: -webkit-flex;
            display: flex;
            /*设置伸缩盒的子元素向两端对齐*/
            justify-content: space-between;
            -webkit-justify-content: space-between;
            -moz-justify-content: space-between;
            li {
                width: 24px;
                height: $height;
                text-align: center;
                display: -webkit-flex;
                display: flex;
                line-height: 28px;
                /*设置伸缩盒的子元素向两端对齐*/
                justify-content: space-between;
                /*设置子元素的排列方向是竖直方向*/
                flex-direction: column;
            }
        }
    }
    footer {
        width: 100%;
        height: auto;
        font-size: 14px;
        box-sizing:border-box;
        padding:0 30px;
        .ps {
            width: 100%;
            display: flex;
            text-align: center;
            span {
                flex: 1;
            }
        }
        .direction {
            width: 100%;
            height: 5px;
            background:$color1;
            position:relative;
            .direction__arrow1 {
                width: 0;
                height: 0;
                position:absolute;
                right:-18px;
                top:-11px;
                border-right: 50px solid transparent;
                border-bottom: 17px solid $color1;
            }
            .direction__arrow2 {
                width: 0;
                height: 0;
                position:absolute;
                right:22px;
                top:-10px;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
            }
        }
    }
}
