*{
	margin: 0;
	padding: 0;
}

#container{
	width: 650px;
	height: auto;
	margin: 0 auto;
	padding: 5px 20px;
	font-size: 12px ;
	/*font-family: STKaiti,KaiTi;*/
	letter-spacing: 1px;
	line-height: 16px;
	/*border: 1px solid #CCCCCC/;*/
}
/*顶部样式*/
header{
	width: inherit;
	height: 100px;
	/*border: 1px solid #CCCCCC;*/
}
header img{
	width: 180px;
	height: 76px;
	float: left;
}
header a{
	float: right;
	margin-top: 60px;
	margin-left: 5px;
}
/*表格样式*/
table{
	width: inherit;
	height: 100px;
	border-collapse: collapse;
}
table caption{
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 15px;
}
table thead tr td{
	text-align: center;
	padding:2px;
}
table tbody th,tr td{
	border: 1px solid #CCCCCC;
}
table tbody th{
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	background-color: #EEEEEE;
	color: rgb(0, 51, 153); 
	padding: 3px;
}
table tbody tr td:first-child{
	width: 130px;
}
table tbody tr td span{
	color: blue;
}
table tbody tr td select{
	width: 190px;
}
table tbody tr td label{
	float: right;
}
table tbody tr td input[type="checkbox"]{
	/*margin-left: 5px;*/
}
.sort{
	display: none;
	position: relative;
	left:50px;
}
.section{
	display: none;
}